/* Overrides */
body {
  padding-top: 65px;
  width: 70%;
  margin: 0 auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  padding-right: 15px;
  padding-left: 10px;
}

.difficulty-chooser {
  padding-bottom: 15px;
  margin: 0 auto;
}

/* Quizlist */
.quiztile .quiz:hover {
  background-color: #337AB7;
  color: white;
  transition-duration: .3s;
}

.quiztile .quiz:hover a {
  color: white;
  transition-duration: .3s;
}

.pager-div li,span{
  display: inline-block;
}

/* Styles for quiz*/
.quizname {
  font-size: large;
}

.list-group a:hover {
  text-decoration: none;
}

.new-option, .attachment {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.quiz-subtitle {
  font-size: small;
}

.quiz-ques {
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}

label.btn {
  text-align: left;
  transform: scale(1.0);
  transition-duration: .2s;
}

label.btn:hover {
  transform: scale(1.05);
}

.quiz-code {
  border-radius: 2%;
  border:thin;
  background-color: #e3e3e3;
  font-family: Consolas, monospace;
  padding: 20px;
}

.codearea {
  font-family: Consolas,monospace;
}

.div-center {
  margin: 0 auto;
}
