<div class="jumbotron">
  <h1>Mentorpick Quizzes</h1>
  <p>Take quizzes created by our authors and see where you fare among the world.</p>
  <p>
    <a href="/all"><button href="/all" class="btn btn-primary btn-lg" href="/all" role="button" ng-click="authorLogin('palash')">Login as Author</button></a>&nbsp;&nbsp;&nbsp;
    <a href="/all"><button href="/all" class="btn btn-primary btn-lg" href="/all" role="button" ng-click="candidateLogin('gopalcm')">Login as Candidate</button></a>
  </p>
</div>
