<form>
  <div class="form-group col-md-8 col-md-offset-1">
    <div class="page-header">
      <h1><input type="text" ng-model="quizname" placeholder="Quiz name" required></h1>
    </div>
    <div class="panel panel-default" ng-repeat="question in questions track by $index">
      <div class="panel-heading">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="question.qtitle" placeholder="Question title" required>
          <span class="input-group-btn">
        <button ng-click="removeQuestion($index)" class="btn btn-danger btn-sm">
          <i class="glyphicon glyphicon-minus"></i>
        </button>
          </span>
        </div>

      </div>
      <div class="panel-body" ng-repeat="option in question.options track by $index">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="question.options[$index]" placeholder="option">
          <span class="input-group-btn">
      <button ng-click="removeOption($parent.$index,$index)" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-minus"></i>
      </button>
          </span>
        </div>
      </div>
      <div class="new-option">
        <button ng-click="addNewOption($index)" class="btn btn-info btn-sm">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </div>
    <div class="new-question">
      <button ng-click="addNewQuestion()" class="btn btn-info">
        <i class="glyphicon glyphicon-plus"></i> New question
      </button>
      &nbsp;
      <button ng-click="update()" class="btn btn-danger">
        <i class="glyphicon glyphicon-upload"></i> Update
      </button>
    </div>
  </div>
</form>
