<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Mentorpick</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/all">All Quizzes</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Leaderboard</a></li>
        <a ng-show="currentRole === 'author'" ng-href="/add"><button class="btn btn-primary navbar-btn">Create new</button></a>
      </ul>
      <ul ng-show="username" class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>  {{username}} signed in as  {{currentRole}}</a></li>
        <button ng-click="switchRole()" class="btn btn-primary navbar-btn">
          <span class="glyphicon glyphicon-log-in"></span>   Login as  {{currentRole === 'author' ? 'candidate' : 'author'}}
        </button>
      </ul>
    </div>
  </div>
</nav>
