<div class="quizlist">
  <div class="page-header">
    <h1>All Quizzes
      <small>{{quizzes.length}}</small>
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="quiztile">
        <div class="col-md-6 col-md-offset-3">

          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                <input type="text" class="form-control" placeholder="Search all quizzes" ng-model="searchQuiz">
              </div>
            </div>
          </form>

          <div class="list-group" ng-show="quizzes.length">
            <div class="list-group-item quiz"
                 ng-repeat="qz in quizzes | filter: searchQuiz | pager: currentPage * pageLength | limitTo: pageLength">
              <a ng-href="/quiz/{{qz.id}}">
                <div>
                  <span class="quizname">{{qz.name}}</span>
                  <span class="badge"> {{qz.level}}</span>
                </div>
                <!--<span class="quiz-subtitle"> Attempted by <span class="badge">{{qz.attemptedby}}</span></span>-->
                <span class="quiz-subtitle">Authored by {{qz.authorUsername}}
                <a ng-show="currentRole === 'author' && qz.authorUsername === username" ng-href="/edit/{{qz.id}}">
                  <i class="glyphicon glyphicon-pencil"></i>
                </a>
              </span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-4 pager-div" ng-show="quizzes.length">
          <ul>
            <li>
              <button class="btn" type="button" ng-disabled="currentPage == 0"
                      ng-click="currentPage = currentPage-1">PREV
              </button>
            </li>
            <li>
              <span>Page {{currentPage + 1}} of {{ noOfPages() }}</span>
            </li>
            <li>
              <button class="btn" type="button"
                      ng-disabled="currentPage >= quizzes.length/pageLength - 1"
                      ng-click="currentPage = currentPage+1">NEXT
              </button>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
