<div class="quiz">
  <div class="page-header">
    <h1>{{quiz.name}} <span class="badge">{{quiz.level}}</span></h1>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <div class="panel panel-default" ng-repeat="question in quiz.questions">
      <div class="panel-heading">
        <h3 class="quiz-ques">{{question.qtitle}}</h3>
      </div>
      <div class="panel-body quiz-options" ng-repeat="option in question.options" data-toggle="buttons">
        <label ng-click="selectOption($parent.$index,$index)" class="btn btn-lg btn-primary btn-block">
          <span class="btn-label">
            <i class="glyphicon" ng-class="answersRegister[$parent.$index] == $index ? 'glyphicon-ok-sign' : 'glyphicon-ok-circle'"></i>
          </span>
          <input type="radio" ng-model="option" name="{{question}}" value="{{option}}">{{option}}
        </label>
      </div>
    </div>

    <button ng-click="submitAnswers()" class="btn btn-danger">
      <i class="glyphicon glyphicon-chevron-righticon-"></i> Submit
    </button>
  </div>
</div>
